body {
  margin: 0;
  font-family: monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cursor-pointer{
  cursor: pointer;
}
.primary-color{
  color: rebeccapurple;
}
.bgprimary-color{
  background-color: rebeccapurple;
}
.bg-green{
  background-color: #59C067;
}

.react-multiple-carousel__arrow{
  z-index: 0;
}
.lyrics-icon-background{
  background-color: green;
}
.green-scout-color{
  color:rgb(19, 170, 19) ;
}

.loader{
  display: flex;
  height: 100vh;
  background-color: rgba(168, 164, 173, 0.8);
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000000;

}

.page-item{
  z-index: 0;
}

.nav-link{
  color: darkblue;
}
.rounded-images{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.list-style-none{
  list-style: none;
}

.radius50{
  border-radius: 50%;;
}
